:local .root {
    height: 100%;
}

:local .width100 {
    width: 100%;
}

:local .form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

:local .cardContent {
    height: 100%;
    overflow-y: auto;
}

:local .textFieldContainer{
    display: flex;
    flex-direction: column;
}
:local .textField {
    width: 200;
}

:local .textBoxes {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: calc(100% - 55px - 24px - 24px);
}

:local .actionButtons {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
    justify-content: space-between;
    margin-top: 24px;
}