:local .itemContainer {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

:local .img {
    height: 12vmax;
    align-self: center;
}

:local .textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

:local .title {
    font-size: 5vmax;
}

:local .textInfo {
    font-size: 2.8vmax;
}